root = true

[*]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
print_width = 180

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
